<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ledmatrix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ui.authentication.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LedMatrix">
        <activity android:name=".ui.home.CommutorActivity"></activity>
        <activity
            android:name=".ui.onboarding.Onboarding3Fragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.onboarding.Onboarding2Fragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".ui.painting.PaintMainActivity"
            tools:ignore="Instantiatable"/>
        <activity
            android:name=".ui.onboarding.Onboarding1Fragment"
            tools:ignore="Instantiatable" /> <!-- <activity android:name=".ui.onboarding.SplashActivity" /> -->
	    <activity android:name=".ui.bluetooth.ScanDevicesFragment"/>
        <activity android:name="com.example.advertise.AdvertiseActivity" />
        <activity android:name=".ui.profile.ProfileFragment" /> <!-- <activity android:name=".ui.authentication.LoginActivity.LoginActivity" /> -->
        <activity android:name=".ui.home.HomeFragment" /> <!-- <activity android:name=".ui.profile.ProfileActivity"></activity> -->
        <!--<activity android:name=".ui.onboarding.SplashActivity"/>-->
        <!--<activity android:name=".ui.home.CommutorActivity">-->
            <activity android:name=".ui.onboarding.SplashActivity">
            <!-- <activity android:name="com.example.advertise.AdvertiseActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>